  <!-- Terms and Conditions Modal -->
  <div id="hs-privacy-policy" class="hs-overlay hidden size-full fixed top-0 start-0 
        z-[80] overflow-x-hidden overflow-y-auto" role="dialog" tabindex="-1" 
        aria-labelledby="hs-task-created-alert-label">
    <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 
        hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all 
        sm:max-w-4xl sm:w-full sm:mx-auto m-3 max-w-lg w-full ">
      <div class="relative flex flex-col bg-white shadow-lg rounded-xl dark:bg-neutral-900">
        <div class="absolute top-2 end-2">
          <button type="button" class="size-8 inline-flex justify-center items-center 
            gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 
            hover:bg-gray-200 focus:outline-none focus:bg-gray-200 
            disabled:opacity-50 disabled:pointer-events-none 
            dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-400 dark:focus:bg-neutral-600" 
            aria-label="Close" data-hs-overlay="#hs-privacy-policy">
            <span class="sr-only">Close</span>
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
          </button>
        </div>

        <div class="p-4 sm:p-10 overflow-y-auto">
          <!-- Icon -->
          <span class="mb-4 inline-flex justify-center items-center size-[46px] rounded-full border-4 border-green-50 bg-green-100 text-green-500 dark:bg-green-700 dark:border-green-600 dark:text-green-100">
            <svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
            </svg>
          </span>
          <!-- End Icon -->

          <h3 id="hs-task-created-alert-label" class="mb-2 text-xl font-bold text-gray-800 dark:text-neutral-200">
            Privacy Policy!
          </h3>
          <!--p class="text-gray-500 dark:text-neutral-500"-->
          <div class="p-4 max-h-96 overflow-y-auto">
          <p class="mt-2 text-gray-500 dark:text-neutral-500">
(2 December 2024 2024, Hyderabad, Telangana, India)
</p>
<p class="mt-2">
​

Thanks for using our products and services ("Services"). The Services are provided by Cellerite Systems Pvt Ltd. (referred to as "Cellerite")
</p>
<p class="mt-2">
 

This Privacy Policy governs the manner in which Cellerite ("we," "us," or "our") collects, uses, maintains, and discloses information collected from users (referred to as "you" or "your") of the Cellerite.com (and other websites maintained by Cellerite) and its subdomain websites (referred to as "website"). This Privacy Policy applies to the Website and all products and services offered by us.
</p>
<p class="mt-2">
​

Our Services are very diverse, so sometimes additional terms or product requirements may apply. Additional terms will be available with the relevant services, and those additional terms become part of your agreement with us if you use those services.
</p>
<p class="mt-2">
​

By using our Services, you are agreeing to these terms. Please read them carefully.
</p>
<p class="mt-2">
​

1. Information We Collect
​

We may collect personal identification information from you in various ways, including, but not limited to, when you visit our website, register on the Website, place an order, subscribe to our newsletter, respond to a survey, fill out a form, or interact with other activities, services, features, or resources we make available on our website. The information we collect may include your name, email address, mailing address, phone number, and any other information voluntarily provided by you.
</p>
<p class="mt-2">
​

2. Web Browser Cookies

Our website may use "cookies" to enhance your experience. Your web browser places cookies on your hard drive for record-keeping purposes and sometimes to track information about you. You may choose to set your web browser to refuse cookies or to alert you when cookies are being sent. If you do so, note that some parts of the website may not function properly.

​
</p>
<p class="mt-2">
3. How We Use Collected Information

We may collect and use your personal information for the following purposes:

 

To improve customer service: Information you provide helps us respond to your customer service requests and support needs more efficiently.

To personalize user experience: We may use information in the aggregate to understand how our users as a group use the services and resources provided on our website.

To improve our website: We continually strive to improve our website offerings based on the information and feedback we receive from you.

To process transactions: We may use the information you provide about yourself when placing an order only to provide service to that order. We do not share this information with outside parties except to the extent necessary to provide the service.

To send periodic emails: We may use the email address you provide to send you information and updates pertaining to your order. It may also be used to respond to your inquiries, questions, and/or other requests. If you decide to opt-in to our mailing list, you will receive emails that may include company news, updates, related product or service information, etc. If at any time you would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.

</p>
<p class="mt-2"> 

4. How We Protect Your Information

We adopt appropriate data collection, storage, and processing practices and security measures to protect against unauthorized access, alteration, disclosure, or destruction of your personal information, username, password, transaction information, and data stored on our website.

​</p>
<p class="mt-2">

5. Sharing Your Personal Information

We do not sell, trade, or rent your personal identification information to

others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates, and advertisers for the purposes outlined above.

​</p>
<p class="mt-2">

6. Third-Party Websites

You may find advertising or other content on our website that links to the websites and services of our partners, suppliers, advertisers, sponsors, licensors, and other third parties. We do not control the content or links that appear on these websites and are not responsible for the practices employed by websites linked to or from our website. In addition, these websites or services, including their content and links, may be constantly changing. These websites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites that have a link to our website, is subject to that website's own terms and policies.

​</p>
<p class="mt-2">

7. Changes to This Privacy Policy

We have the discretion to update this Privacy Policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage you to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this Privacy Policy periodically and become aware of modifications.

​</p>
<p class="mt-2">

8. Your Acceptance of These Terms

By using this website, you signify your acceptance of this Privacy Policy. If you do not agree to this Privacy Policy, please do not use our website. Your continued use of the website following the posting of changes to this Privacy Policy will be deemed your acceptance of those changes.

​</p>
<p class="mt-2">

9. Contacting Us

If you have any questions about this Privacy Policy, the practices of this website, or your dealings with this website, please contact us.

​</p>
<p class="mt-2">

Cellerite Systems Pvt Ltd

Email: info@Cellerite.com | srujana@cellerite.com

​</p>
<p class="mt-2">

Website: www.cellerite.com and its subdomains

Jurisdiction: Hyderabad, Telangana, India

</p>          
          <div class="mt-6 flex justify-center gap-x-4">
            <button type="button" class="py-2 px-3 inline-flex items-center 
              gap-x-2 text-sm font-medium rounded-lg border border-gray-200 
              bg-white text-gray-800 shadow-sm hover:bg-gray-50 
              disabled:opacity-50 disabled:pointer-events-none 
              focus:outline-none focus:bg-gray-50 dark:bg-transparent dark:border-neutral-700 
              dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" 
              data-hs-overlay="#hs-privacy-policy">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>